@page
@model IndexModel

@{
    ViewData["Title"] = "Employee Data";
}

<div class="text-center">
    <h1 class="display-4">Employee Data Homepage</h1>
</div>

<div class="text-center">
    <table class="table table-border table-striped">
        <thead>
            <tr>
                <th>Last Name</th>
                <th>First Name</th>
                <th>Position</th>
                <th>Authorization</th>
                <th>Survey Sent</th>
                <th>Survey Submitted</th>
                <th>International</th>
                <th>Name Change Complete</th>
                <th>Semester</th>
                <th>Year</th>
                <th>Supervisor</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Yuze</td>
                <td>Dong</td>
                <td>RA</td>
                <td><input type="checkbox" /></td>
                <td><input type="checkbox" /></td>
                <td><input type="checkbox" /></td>
                <td><input type="checkbox" checked/></td>
                <td><input type="checkbox" /></td>
                <td>Fall</td>
                <td>2022</td>
                <td>Spencer Hilton</td>
            </tr>
        </tbody>
    </table>
    
</div>