@page
@{
    ViewData["Title"] = "Metrics";
}
<div class="text-center">
    <h1 class="display-4">Metrics and Data Visualizations</h1>
</div>



<div class="row">
    <div class="col-md-6">
        <div class="card">
            <h5>Placeholder for Positions Graph</h5>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <h5>Placeholder for Gender Graph</h5>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <h5>Placeholder for Average wage</h5>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <h5>Placeholder for Total count</h5>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <h5>Placeholder for Total Count by position</h5>
        </div>
    </div>

</div>

